body {
    padding:0;
    margin:0;
    font-family: sans-serif;
}

/*----------------------------------------*/

header {
    display: block;
    padding-left: 251px;
    padding-top: 30px;
    padding-bottom: 30px;
}

header .logo {
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    padding-left: 52px;
    text-decoration: none;
    color: inherit;
}

header nav {
    display: inline;
    padding-left: 114px;
}

header nav a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    padding-left: 30px;
}

/*----------------------------------------*/

main {
    display: block;
    text-align: center;
}

.Cover_Section {
    display: block;
    background-image: url(../images/mid_pic.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 240px;
    padding-bottom: 150px;
    color:white;
}

main h2 {
    padding: 0;
    margin: 0;
    font-size: 32px;
}

main .Cover_Section h2 {
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.Cover_Section a {
    text-decoration: none;
    color: inherit;
    border: 1px solid white;
    padding: 7px;
}

.Headline_Section {
    background-color: #f6f9f9;
    padding-top: 45px;
    padding-bottom: 45px;
}

.Content_Section {
    background-color: #ffffff;
    padding-top: 77px;
    padding-bottom: 77px;
}

.Content_Section h2 {
    padding-bottom: 30px;
}

.Content_Section ul {
    list-style: none;
}

.Content_Section ul li {
    display: inline;
}

footer {
    display: block;
    background-color: #f6f9f9;
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 252px;
}