* {padding:0;margin:0;}

body {
    font-family: arial;
}

.clear {
    clear: both;
}

body#layout1 #wrapper {
    margin: 0 auto;
    width: 1000px;
}

body#layout1header {
    display: block;
}

body#layout1 #logo{
    display: block;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    width: 67px;
    height: 70px;
    margin-bottom: 49px;
    margin-top:10px;
}

body#layout1 header nav {
    width: 717px;
    float: right;
    background-color: #b94a48;
    padding-top: 20px;
    padding-bottom: 20px;
}

body#layout1 header nav a {
    text-decoration: none;
    color: white;
    padding-left:86px;
    padding-right: 86px;
    padding-top: 20px;
    padding-bottom: 21px;
}

body#layout1 header nav a#active{
    background-color: #333333;
}


body#layout1 main {
    display: block;
    width: 100%;
}

body#layout1 aside {
    width: 122px;
    height: 698px;
    background-color: #f2dede;
    float: left;
}

body#layout1 section#top {
    width: 852px;
    height: 269px;
    background-color:#ee5f5b;
    float: right;
}

body#layout1 section#top #small_cube {
    width: 128px;
    height: 96px;
    background-color: #5f2624;
    position: relative;
    top:89px;
    left: 340px;
}
body#layout1 section#bottom {
    float: right;
    background-color: #666666;
    height: 176px;
    width: 692px;
    position: relative;
    top: 225px;
    right: 91px;
}

body#layout1 footer {
    display: block;
    height: 120px;
    width: 100%;
    background-color: #d6d6d6;
}

/*-----------2nd Layout--------------*/

body#layout2 #wrapper {
    margin: 0px auto;
    width: 1000px;
}

body#layout2 header{
    display: block;
    padding-top: 38px;
    padding-bottom: 154px;
}

body#layout2 header a#logo{
    display: block;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    height: 69px;
    width: 70px;
    margin: 0px auto;
}

body#layout2 header nav {
    background-color: #333333;
    height: 886px;
    width: 242px;
    float: left;
    margin-top: 154px;
}

body#layout2 header nav a {
    display: block;
    text-decoration: none;
    color: #dedede;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 6px;
}
body#layout2 header nav a#selected{
    background-color: #b84948
}

body#layout2 main {
    background-color: #ed5f5c;
    height: 886px;
    padding-left: 242px;
}

body#layout2 main section{
    display: block;
    float: left;
    height: 100%;
    margin-left: 30px;
    max-height: 1000px;
}

body#layout2 article {
    background-color: #5e2624;
    width: 212px;
}

body#layout2 article#top_left {
    height: 366px;
}

body#layout2 article#top_mid {
    height: 560px;
}

body#layout2 article#top_right {
    height: 223px;
}

body#layout2 article#bottom_left {
    height: 500px;
    margin-top: 20px;
}

body#layout2 article#bottom_mid {
    height: 306px;
    margin-top: 20px;
}

body#layout2 footer {
    width: 1000px;
    background-color: #d6d6d6;
    height: 48px;
    
}

/*-----------3nd Layout--------------*/

body#layout3 a { text-decoration: none; color: inherit;}

body#layout3 #wrapper
{
    margin: 0px auto;
    width: 60%;
    height: 1000px;
    
}

body#layout3 header
{
    display: block;
    height: 500px;
    width: 500px;
    float: left;
    
}

body#layout3 header div#logo_area {
    width: auto;
    display: block;
    height: 69px;
    padding-top: 20px;
    margin-left: 20px;
    padding-bottom: 118px;
}

body#layout3 header a#logo{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 69px;
}
body#layout3 header div#plus_area {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 145px;
}

body#layout3 header nav {
    display: block;
    color: white;
    height: 58px;
    background-color: #b94a48;
}

body#layout3 header nav a {
    float:left;
    padding-top: 21px;
    padding-bottom: 18px;
    padding-left:50px;
    padding-right:55px;
    background-color: #b94a48;
}
body#layout3 header nav a#selected {
    background-color: #333333;
}

body#layout3 main{
    height: 100%;
    width: 100%;
}

body#layout3 main div.box{
    float: left;
    height: 500px;
    width: 500px;
}
body#layout3 .box_small {
    background-color: #b94a48;
}
body#layout3 .box_small:hover{
    background-color: inherit;
}

body#layout3 .box_small:nth-child(1){
    float:left;
    height: 250px;
    width: 50%;
    opacity: 1;
}

body#layout3 .box_small:nth-child(2){
    float:left;
    height: 250px;
    width: 50%;
    opacity: 0.8;
}
body#layout3 .box_small:nth-child(3){
    float:left;
    height: 250px;
    width: 50%;
    opacity: 0.6;
}
body#layout3 .box_small:nth-child(4){
    float:left;
    height: 250px;
    width: 50%;
    opacity: 0.4;
}